body {
    font-family: sans-serif;
    margin-top: 70px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 250px;
}
.container {
max-width: 400px;
margin: 0 auto;
color: #d04545;
font-family: sans-serif;
padding-left: 20px;
padding-right: 20px;
}
